body {
    background-color: #ddd;
}

.Cell {
    display: inline-block;
    height: 5vw;
    width: 5vw;
    background-color: white;
    margin: 10px;
    border-radius: 999px;
    box-shadow: 3px 3px 1px black;
}
.App {
    text-align: center;
}
.Disc {
    height: 100%;
    width: 100%;
    border-radius: 500px;
    position: relative;
    bottom: 600px;
    transition: bottom .6s cubic-bezier(1, 0.01, 0.86, 1.25);
}

.Disc.player1, .Disc.player2 {
    bottom: 0px;
}

.Board {
    background-color: dodgerblue;
    border: 2px outset #111;
    display: inline-block;
}

button.play-again {
    height: 25px;
    width: 100px;
    background-color: lightskyblue;
    border: 2px solid black;
    border-radius: 4px;
    margin-left: 20px;
    margin-right: 20px;
}

div.player1 {
    background-color:#f44;
}
div.player2 {
    background-color:#33f;
}

span.player1 {
    color: #f44;
}
span.player2 {
    color: #33f;
}